/* ============ reset ============ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/* ============ global ============ */
:root {
  --jet: #262927;
  --slate: #5b414f;
  --silver: #dcd0d7;
  --l-acc: #daf0ee;
  --l-green: #5bc27c;
  --green: #2c7744;
  --l-red: #ba4f4f;
  --red: #781717;
}

html,
body {
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h1,
h2,
h3 {
  font-family: "Ledger", "Times New Roman", Times, serif;
}

/* ============ images ============ */

.headerImg {
  width: min(400px, 80%);
  height: auto;
  box-shadow: 2px 2px 4px var(--slate);
}

.headerIcon {
  width: 30px;
  height: 30px;
}

.cardImg {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.cardIcon {
  width: 24px;
  height: 24px;
}

.contactIcon {
  width: 30px;
  height: 30px;
}

.footerIcon {
  width: 44px;
  height: 44px;
}

.footerImg {
  width: min(100%, 576px);
  height: auto;
}

/* ============ header ============ */
header {
  background: linear-gradient(
    170deg,
    var(--green) 0%,
    var(--l-green) 50%,
    white 50%,
    white 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  padding: 15px;
  gap: 15px;
  position: relative;
}

.headerContainer h1 {
  color: var(--silver);
  position: relative;
  bottom: 80px;
  text-align: center;
  width: 90%;
}

.headerTitle {
  margin-top: -70px;
}

.headerText {
}

.headerLinks {
  display: flex;
  gap: 15px;
  margin-bottom: 60px;
}

/* ============ main ============ */
main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  padding-bottom: 120px;
}

.projects {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
  flex-direction: column;
  gap: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 6px var(--slate);
  padding-bottom: 60px;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 85%;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 0;
}

.cardHeader h3 {
  margin-left: 10px;
  margin-right: auto;
}

.cardHeader a {
  padding: 0 15px;
}

.cardHeader button {
  background-color: transparent;
  border: none;
}

.cardHeader button:hover {
  cursor: pointer;
}

/* ============ footer ============ */
footer {
  background: linear-gradient(0deg, var(--green) 0%, var(--l-green) 100%);
  padding-top: 15px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  padding: 15px;
}

.footerTitle {
  text-align: center;
}

.footerText {
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
}

.phone {
  display: flex;
  gap: 10px;
}

.phone img {
  display: none;
}

.email {
  display: flex;
  gap: 10px;
}

.email img {
  display: none;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 60px;
}

/* ============ tablet ============ */
@media (min-width: 576px) {
  .projects {
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
    gap: 35px 15px;
  }

  .phone img {
    display: block;
  }

  .email img {
    display: block;
  }
}

/* ============ desktop ============ */
@media (min-width: 1025px) {
  .projects {
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px 30px;
  }
}

@media (min-width: 1290px) {
  .projects {
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px 30px;
  }
}
